.App {
  text-align: center;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 20px;
}

.main-bg {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1500px;
  height: 370px;
  background-image: url('./img/mainphoto.jpg');
  background-size: cover;
  background-position: center;
}



.ProductEditor h2{
  margin-top: 30px;
  margin-bottom: 30px;
}


button {
  border: 1px solid lightgray;
  width: 120px;
  height: 45px;
}


.detailLink{
  background-color: #eee;
  color: gray;
  text-decoration: none;
  border: 10px solid #eee;
}

.ProductDetail table {
  margin: auto;
 
}

.ProductDetail .tr1 {
  border: 1px solid lightgray;
}